.refresh-button {
  position: absolute;
  top: 3px;
  left: 1415px; /* Adjusted to appear beside the back button */
  z-index: 999;
  background-color: #00404d;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.refresh-button:hover {
  background-color: #4324dc;
}
